
@{
    ViewBag.Title = "StaffProfile";
    Layout = "~/Views/Shared/_PurchaseLayout.cshtml";
}

<!-- inner banner -->
<section class="inner-banner py-5">
    <div class="w3l-breadcrumb py-lg-5">
        <div class="container pt-4 pb-sm-4">
            <h4 class="inner-text-title pt-5">Profile</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="/Purchase/Index">Home</a></li>
                <li class="active"><i class="fas fa-angle-right"></i>Profile</li>
            </ul>
        </div>
    </div>
</section>
<!-- //inner banner -->
<!-- Content block -->
<section class="w3l-servicesblock py-5 mb-lg-5" id="about">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <p class="text-uppercase">About Me</p>
            <h3 class="title-style">My Profile</h3>
        </div>
        <div class="row pb-xl-5 align-items-center">
            <div class="col-lg-3 col-6 text-center">
                <a>
                    @if (!string.IsNullOrEmpty(Model.uimg))
                    {
                <img src="@Url.Content(Model.uimg)" alt="User Image" class="arrow-png img-responsive" /> }
            else
            {
                <img src="~/images/icon-1.png" alt="~/images/icon-1.png" class="arrow-png img-responsive" />}
                    <h4>Staff</h4>                   
                </a>
            </div>
            <div class="col-xl-5 col-lg-6 offset-xl-1 mt-lg-0 mt-5 pt-lg-0 pt-5">
                <ul class="mt-4 list-style-lis pt-lg-1" style="font-size: large">
                    <li>
                        <i class="fas fa-address-card"></i>
                        <strong>Name: </strong>@ViewBag.fullname
                    </li>
                    <li>
                        <i class="fas fa-calendar-day"></i>
                        <strong>Birthdate: </strong> @ViewBag.dob
                    </li>
                    <li>
                        <i class="fas fa-phone"></i>
                        <strong>Contact number: </strong> @ViewBag.contact
                    </li>
                    <li>
                        <i class="fas fa-map-marked"></i>
                        <strong>Address: </strong> @ViewBag.address
                    </li>
                    <li>
                        <i class="fas fa-envelope"></i>
                        <strong>Email address: </strong> @ViewBag.email
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Content block -->
