﻿@using InstrumentShop.Models;

@model List<ViewRequisitionForm>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Requisition Details</title>
    <link href="~/Gridview.css" rel="stylesheet" />
    <link href="~/Content/modal.css" rel="stylesheet" />
    <link href="~/Content/StaffTextBox.css" rel="stylesheet" />
    <link href="~/Content/staff.css" rel="stylesheet" />
    <style>
        .home-section {
            font-family: Helvetica;
            -webkit-font-smoothing: antialiased;
        }

        .requisition-input {
            font-size: 15px;
        }

        .total-cost {
            font-weight: 600;
        }
    </style>
</head>
<body>

    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'></i>
            <span class="text">Update requisition details</span>
        </div>

        <div class="table-wrapper">
            <br />
            <div class="row requisition-block">
                <div class="col-sm-7 requisition-right">
                    <div class="input-grids">
                        <div class="row">
                            <div class="col-sm-6" style="margin-left: 20px;">
                                <p style="font-size: 15px"> Requisition Form #:</p>
                                <input type="text" name="price" id="price" placeholder="Requisition code #" class="requisition-input" disabled value="@Model.First().RF_Code" />
                            </div>
                            <div class="col-sm-6">
                                <p style="font-size: 15px"> Date requested:</p>
                                <input type="text" name="date" id="date" placeholder="Date requested" class="requisition-input" disabled value="@Model.First().RF_Daterequested" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="margin-left: 280px; width: 250px">
                    <p style="font-size: 15px">Update Status: (Required)</p>
                    <div class="requisition-select">
                        <select name="selectedStatus" id="selectedStatus" required="">
                            @foreach (var statusOption in new[] { "Pending", "Approved", "Declined" })
                            {
                                <option value="@statusOption" @(Model.First().RF_Status == statusOption ? "selected" : "")>
                                    @statusOption
                                </option>
                            }
                        </select>
                    </div>
                </div>

            </div>

            @{
                var isPending = Model.Any(form => form.RF_ItemStatus != "Declined");
                var isDeclined = Model.Any(form => form.RF_ItemStatus == "Declined");
            }

            @if (isPending)
            {
                <table class="fl-table mx-auto" id="item-list" style="width: 96%">
                    <colgroup>
                        <col width="3%">
                        <col width="12%">
                        <col width="10%">
                        <col width="25%">
                        <col width="6%">
                        <col width="6%">
                        <col width="8%">
                        <col width="8%">
                        <col width="5%">
                        <col width="5%">
                    </colgroup>
                    <thead>
                        <tr style="background-color: #fbb034; color: #000000;">
                            <th class="px-1 py-1 text-center">#</th>
                            <th class="px-1 py-1 text-center">Item</th>
                            <th class="px-1 py-1 text-center">Supplier</th>
                            <th class="px-1 py-1 text-center">Description</th>
                            <th class="px-1 py-1 text-center">Quantity</th>
                            <th class="px-1 py-1 text-center">Unit</th>
                            <th class="px-1 py-1 text-center">Price</th>
                            <th class="px-1 py-1 text-center">Total</th>
                            <th class="px-1 py-1 text-center">Edit</th>
                            <th class="px-1 py-1 text-center" style="background-color: #e53f31">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var form in Model.Where(form => form.RF_ItemStatus != "Declined"))
                        {
                            var confirmationMessage = form.RF_ItemStatus == "Canvas"
                                ? "Are you sure you want to delete this item?"
                                : "Are you sure you want to delete this item? (Note: Deleting means you are declining this item)";

                            var hrefValue = form.RF_ItemStatus == "Canvas"
                                    ? Url.Action("DeleteCanvas", "AdminRequisition")
                                    : Url.Action("DeleteItem", "AdminRequisition");

                            if (form.RF_ItemStatus != "Canvas")
                            {
                                <tr style="text-align: center;">
                                    <td>
                                        <p class="row-number"></p>
                                        <input type="hidden" value="@form.RF_ItemID" name="ItemEdit_ID" />
                                    </td>
                                    <td>@form.RF_Item</td>
                                    <td>@form.RF_Suppliercompany</td>
                                    <td>@form.RF_Description</td>
                                    <td>
                                        <input disabled type="number" name="ItemEdit_Qty" id="ItemEdit_Qty_@form.RF_ItemID" placeholder="Quantity" class="requisition-input" required="" value="@form.RF_Quantity" style="border-color: transparent; text-align: center; background-color: transparent; width: 100%" />
                                    </td>
                                    <td>
                                        <input disabled type="text" name="ItemEdit_Unit" id="ItemEdit_Unit_@form.RF_ItemID" placeholder="Unit" class="requisition-input" required="" value="@form.RF_Unit" style="border-color: transparent; text-align: center; background-color: transparent; width: 100%" />
                                    </td>
                                    <td>
                                        <input type="text" name="price" id="price_@form.RF_ItemID" placeholder="Price" class="requisition-input" disabled value="@form.RF_Price" style="border-color: transparent; text-align: center; background-color: transparent; width: 100%" />
                                    </td>
                                    <td>
                                        <input type="text" name="total" id="total_@form.RF_ItemID" placeholder="Total" class="requisition-input" disabled value="@form.RF_Total" style="border-color: transparent; text-align: center; background-color: transparent; width: 100%" />
                                    </td>
                                    <td>
                                        <form class="edit-form" method="post" action="@Url.Action("EditItem", "AdminRequisition")">
                                            <input type="hidden" name="edit_ID" value="@form.RF_ItemID" />
                                            <button class="btn btn-style-3 edit-btn" type="submit" style="color: white">
                                                <i class='bx bxs-edit-alt'></i>
                                            </button>
                                        </form>
                                    </td>
                                    <td>
                                        <input type="hidden" name="RF_ItemStatus" value="@form.RF_ItemStatus" />
                                        <form class="delete-form" method="post" action="@hrefValue">
                                            <input type="hidden" name="request_ID" value="@Model.First().RF_ID" />
                                            <input type="hidden" name="delete_ID" value="@form.Request_Item" />
                                            <button class="btn btn-style-3 delete-btn" type="button" onclick="confirmDelete(this, '@confirmationMessage', '@hrefValue')" style="color: white">
                                                <i class="bx bxs-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <!-- for Canvas items -->
                                <tr style="text-align: center; background-color: #ffcccb;">
                                    <td>
                                        <p class="row-number"></p>
                                        <input type="hidden" value="@form.RF_ItemID" name="ItemEdit_ID" />
                                    </td>
                                    <td>@form.RF_Item</td>
                                    <td>@form.RF_Suppliercompany</td>
                                    <td>@form.RF_Description</td>
                                    <td>
                                        <input disabled type="number" name="ItemEdit_Qty" id="ItemEdit_Qty_@form.RF_ItemID" placeholder="Quantity" class="requisition-input" required="" value="@form.RF_Quantity" style="border-color: transparent; text-align: center; background-color: transparent; width: 100%" />
                                    </td>
                                    <td>
                                        <input disabled type="text" name="ItemEdit_Unit" id="ItemEdit_Unit_@form.RF_ItemID" placeholder="Unit" class="requisition-input" required="" value="@form.RF_Unit" style="border-color: transparent; text-align: center; background-color: transparent; width: 100%" />
                                    </td>
                                    <td>
                                        <input type="text" name="price" id="price_@form.RF_ItemID" placeholder="Price" class="requisition-input" disabled value="@form.RF_Price" style="border-color: transparent; text-align: center; background-color: transparent; width: 100%" />
                                    </td>
                                    <td>
                                        <input type="text" name="total" id="total_@form.RF_ItemID" placeholder="Total" class="requisition-input" disabled value="@form.RF_Total" style="border-color: transparent; text-align: center; background-color: transparent; width: 100%" />
                                    </td>
                                    <td>
                                        <form class="edit-form" method="post" action="@Url.Action("EditItem", "AdminRequisition")">
                                            <input type="hidden" name="edit_ID" value="@form.RF_ItemID" />
                                            <input type="hidden" name="request_ID" value="@Model.First().RF_ID" />
                                            <button class="btn btn-style-3 edit-btn" type="submit" style="color: white">
                                                <i class='bx bxs-edit-alt'></i>
                                            </button>
                                        </form>
                                    </td>
                                    <td>
                                        <input type="hidden" name="RF_ItemStatus" value="@form.RF_ItemStatus" />
                                        <form class="delete-form" method="post" action="@hrefValue">
                                            <input type="hidden" name="request_ID" value="@Model.First().RF_ID" />
                                            <input type="hidden" name="delete_ID" value="@form.RF_ItemID" />
                                            <button class="btn btn-style-3 delete-btn" type="button" onclick="confirmDelete(this, '@confirmationMessage', '@hrefValue')" style="color: white">
                                                <i class="bx bxs-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }

                        }


                        <tr style="text-align: center; font-weight:600">
                            <td colspan="7" style="text-align: right; font-size: medium">
                                <a href="/AdminRequisition/addItem?request_ID=@Model.First().RF_ID" class="btn btn-style-3">
                                    <i class='bx bxs-plus-square'></i>&emsp;<strong>Add Item</strong>
                                </a>

                                &emsp;
                                Total estimated cost:
                            </td>
                            <td>
                                <p class="total-cost"></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <div class="text-center" style="display: flex; justify-content: center;">
                    <form class="save-form" method="post">
                        <input type="hidden" name="request_ID" value="@Model.First().RF_ID" />
                        <button type="button" class="btn btn-style btn-style-3" style="width: 200px" data-toggle="modal" data-target="#myModal" onclick="setModalTarget()">
                            <strong>SAVE</strong>
                        </button>
                    </form>
                    &emsp;
                    <form class="cancel-form" method="post" action="@Url.Action("CancelAction", "AdminRequisition")">
                        <input type="hidden" name="request_ID" value="@Model.First().RF_ID" />
                        <button class="btn btn-style btn-style-3" type="submit" style="width: 200px">
                            <strong>CANCEL</strong>
                        </button>
                    </form>
                </div>
                <br />
            }
            <br /><br />
            @if (isDeclined)
            {
                <p style="margin-left: 25px">Declined Items:</p>
                <table class="fl-table mx-auto" id="item-list" style="width: 96%">
                    <colgroup>
                        <col width="3%">
                        <col width="12%">
                        <col width="10%">
                        <col width="25%">
                        <col width="6%">
                        <col width="6%">
                        <col width="8%">
                        <col width="8%">
                        <col width="5%">
                    </colgroup>
                    <thead>
                        <tr style="background-color: #fbb034; color: #000000;">
                            <th class="px-1 py-1 text-center">#</th>
                            <th class="px-1 py-1 text-center">Item</th>
                            <th class="px-1 py-1 text-center">Supplier</th>
                            <th class="px-1 py-1 text-center">Description</th>
                            <th class="px-1 py-1 text-center">Quantity</th>
                            <th class="px-1 py-1 text-center">Unit</th>
                            <th class="px-1 py-1 text-center">Price</th>
                            <th class="px-1 py-1 text-center">Total</th>
                            <th class="px-1 py-1 text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var form in Model.Where(form => form.RF_ItemStatus == "Declined"))
                        {
                            <tr style="text-align: center">
                                <td>
                                    <p class="row-number"></p>
                                    <input type="hidden" value="@form.RF_ItemID" name="ItemEdit_ID" />
                                </td>
                                <td>@form.RF_Item</td>
                                <td>@form.RF_Suppliercompany</td>
                                <td>@form.RF_Description</td>
                                <td>@form.RF_Quantity</td>
                                <td>@form.RF_Unit</td>
                                <td>@form.RF_Price</td>
                                <td>@form.RF_Total</td>
                                <td>
                                    <form class="delete-form" method="post" action="@Url.Action("RestoreItem", "AdminRequisition")">
                                        <input type="hidden" name="request_ID" value="@Model.First().RF_ID" />
                                        <input type="hidden" name="delete_ID" value="@form.Request_Item" />
                                        <button class="btn btn-style-3 delete-btn" type="submit" style="color: white">
                                            <i class='bx bxs-file-plus'></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            <br />
        </div>
    </section>

    <div class="modal" id="approveRequest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Approval Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Partial("_ApprovalPartialView")
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="declineRequest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Approval Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Partial("_DeclinePartialView")
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        //Modal popup based on selectedStatus
        function setModalTarget() {
            // Get the selectedStatus value
            var selectedStatus = $("#selectedStatus").val();

            // Set the data-target attribute based on the selectedStatus
            if (selectedStatus === "Approved") {
                $("#myModal").modal("hide"); // Close the default modal
                $("#approveRequest").modal("show"); // Show the 'approveRequest' modal
            } else if (selectedStatus === "Declined") {
                $("#myModal").modal("hide"); // Close the default modal
                $("#declineRequest").modal("show"); // Show the 'declineRequest' modal
            } else {
                alert("This requisition form is still pending"); // Display an alert if it is pending
            }
        }


        // Submit form with selected status
        $("form.save-form").submit(function () {
            var selectedStatus = $("#selectedStatus").val();
            $("<input>").attr("type", "hidden")
                .attr("name", "selectedStatus")
                .attr("value", selectedStatus)
                .appendTo($(this));
            return true;
        });

        // Event handler for dropdown change
        $("#selectedStatus").change(function () {
            updateTotalEstimatedCost();
        });

        // ===Add row numbers to each row in the table
        document.addEventListener("DOMContentLoaded", function () {
            var rowNumbers = document.querySelectorAll('.row-number');
            rowNumbers.forEach(function (element, index) {
                element.textContent = index + 1;
            });
        });

        function confirmDelete(button, confirmationMessage) {
            var form = button.closest('.delete-form');
            var confirmation = confirm(confirmationMessage);

            if (confirmation) {
                form.submit();
            }
        }

        // Trigger input change event on page load
        $("[id^=ItemEdit_Qty_]").on("input", function () {
            // Get the itemID from the current input's ID
            var itemID = $(this).attr("id").replace("ItemEdit_Qty_", "").replace("price_", "");

            // Recalculate and update total for the specific item
            calculateTotal(itemID);

            // Calculate and update the total estimated cost
            updateTotalEstimatedCost();
        });


        function updateTotalEstimatedCost() {
            // Get all elements whose IDs start with "total"
            var totalElements = $("[id^=total]");

            // Initialize total cost
            var totalCost = 0;
            var canvasTotal = 0; // Initialize total value for "Canvas" items

            // Loop through all total elements and sum their values
            totalElements.each(function () {
                var totalValue = parseFloat($(this).val()) || 0;

                // Check RF_ItemStatus and modify totalValue for items with RF_ItemStatus = "Canvas"
                if (totalValue > 0) {
                    // Check if RF_ItemStatus is "Canvas"
                    var isCanvasItem = $(this).closest("tr").find("[name=RF_ItemStatus]").val() === "Canvas";

                    // Add totalValue to the corresponding total based on RF_ItemStatus
                    if (isCanvasItem) {
                        canvasTotal += totalValue; // Add to the total value for "Canvas" items
                    } else {
                        totalCost += totalValue; // Add to the total value for other items
                    }
                }
            });

            // Check if RF_Status is "Approved" and subtract total value of "Canvas" items
            if ($("#selectedStatus").val() === "Approved") {
                totalCost += canvasTotal;
            }

            // Set the total value to the hidden input field (assuming it has the ID "EstimateTotal")
            $("#EstimateTotal").val(totalCost.toFixed(2));

            // Display total cost in the 'Total estimated cost' cell with commas for better readability
            $(".total-cost").text("₱ " + totalCost.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }));
        }



        function calculateTotal(itemID) {
            // Get quantity and price values for the specific item
            var quantityInput = $("#ItemEdit_Qty_" + itemID);
            var priceInput = $("#price_" + itemID);

            var quantity = parseFloat(quantityInput.val()) || 0;
            var price = parseFloat(priceInput.val()) || 0;

            // Set a minimum quantity (change this value to your desired minimum)
            var minimumQuantity = 1;

            // Check if the quantity is below the minimum
            if (quantity < minimumQuantity) {
                // Display an alert or take appropriate action
                alert("Quantity must be at least " + minimumQuantity);
                // Reset the quantity to the minimum
                quantityInput.val(minimumQuantity);
                quantity = minimumQuantity; // Update the quantity variable
            }

            // Calculate total for the specific item
            var total = quantity * price;

            // Display total with label inside the input
            $("#total_" + itemID).val(total.toFixed(2));
        }

        $("[id^=ItemEdit_Qty_]").trigger("input");
        $("[id^=price]").trigger("input");

    </script>
</body>
</html>