@model List<InstrumentShop.Models.Supplier>
<head>
    <link href="~/Gridview.css" rel="stylesheet" />
    <link href="~/Content/modal.css" rel="stylesheet" />
    <link href="~/Content/StaffTextBox.css" rel="stylesheet" />
</head>

<section class="home-section">
    <div class="home-content">
        <i class='bx bx-menu'></i>
        <span class="text">SUPPLIERS</span>
    </div>
    <br /><br /><br /><br />
    <form class="register-form">
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th>Contact Person</th>
                        <th>Company Name</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var supplier in Model)
                    {
                    <tr>
                        <td>@Html.Raw($"<i class='bx bxs-user'></i> {supplier.fname} {supplier.mi} {supplier.lname}")</td>
                        <td>@Html.Raw($"<i class='bx bxs-user'></i> {supplier.company}")</td>
                        <td>
                            @if (supplier.status == "ACTIVE")
                            {
                                <i class='bx bxs-check-circle' style="color: green"></i><strong>ACTIVE</strong>
                            }
                            else if (supplier.status == "INACTIVE")
                            {
                                <i class='bx bxs-x-circle' style="color: red"></i><strong>INACTIVE</strong>
                            }
                        </td>
                        <td>
                            <a href="javascript:void(0);" onclick="openSupDetailModal('@supplier.suppid', '@supplier.company', '@supplier.fname', '@supplier.mi', '@supplier.lname', '@supplier.phone', '@supplier.email', '@supplier.address')">
                                <i class='bx bxs-user-detail' style="color: darkblue"></i>
                            </a>

                            &nbsp;&nbsp;
                            <a href="javascript:void(0);" onclick="openSupEditModal('@supplier.suppid', '@supplier.company', '@supplier.fname', '@supplier.mi', '@supplier.lname', '@supplier.phone', '@supplier.address', '@supplier.email')">
                                <i class='bx bxs-edit-alt' style="color: orange"></i>
                            </a>

                            &nbsp;&nbsp;
                            <a href="@Url.Action("DeleteStaff", new { suppid = supplier.suppid })">
                                <i class='bx bxs-trash' style="color: red"></i>
                            </a>
                            <a href="@Url.Action("ReactivateStaff", new { suppid = supplier.suppid })">
                                <i class='bx bxs-bulb' style="color: green;"></i>
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id ="detailModal"></div>
        <div id ="editModal"> </div>
        <div id ="supDetailModal"></div>
        <div id ="editSupModal"></div>
    </form>

    <script src="~/error.js"></script>
    <script src="~/Scripts/modal.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  


</section>


