


<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <!--<title> Drop Down Sidebar Menu | CodingLab </title>-->
    <link rel="stylesheet" href="style.css">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <div class="sidebar close">
        <div class="logo-details">
            <i class='bx bxs-music'></i>
            <span class="logo_name">Geltan Music Zone</span>

        </div>
        <ul class="nav-links">
            <li>
                <a href="@Url.Action("AdminPage","Home")">
                    <i class='bx bxs-dashboard'></i>
                    <span class="link_name">Dashboard</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Dashboard</a></li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Requisition","AdminRequisition")">
                    <i class='bx bxs-file'></i>
                    <span class="link_name">Requisition</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Requisition</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cart'></i>
                    <span class="link_name">Purchasing</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Purchasing</a></li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Staff","Staff")">
                    <i class='bx bxs-user'></i>
                    <span class="link_name">Staff</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Staff</a></li>
                </ul>
            </li>


            <li>
                <a href="@Url.Action("AdminDepartment", "AdminDepartment")">
                    <i class='bx bxs-buildings'></i>
                    <span class="link_name">Department</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Department</a></li>
                </ul>
            </li>


            <li>
                <a href="@Url.Action("Supplier","Supplier")">
                    <i class='bx bxs-package'></i>
                    <span class="link_name">Supplier</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Supplier</a></li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("AdminProfile","AdminProfile")">
                    <i class='bx bxs-user-detail'></i>
                    <span class="link_name">Profile</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Profile</a></li>
                </ul>
            </li>
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <!--<img src="image/profile.jpg" alt="profileImg">-->
                    </div>
                    <div class="name-job">
                        <div class="profile_name">@ViewBag.name</div>
                        <div class="job">Admin</div>
                    </div>

                    <a href="@Url.Action("Login", "Login")">
                        <i class='bx bx-log-out'>
                        </i>
                    </a>

                </div>
            </li>
        </ul>
    </div>
    @*<section class="home-section">
            <div class="home-content">
                <i class='bx bx-menu'></i>
                <span class="text">Drop Down Sidebar</span>
            </div>
        </section>*@

    @*<div class="one"></div>*@
    @RenderBody()
    <script src="~/JavaScript.js"></script>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>
